*~
*.ap_
*.apk
bin/
bower_components/
.buildpath
*.class
composer.json
composer.lock
coverage/
*.dex
.DS_Store
.editorconfig
gen/
.gradle/
.idea/
local.properties
*.log
log.txt
node_modules/
platforms/
platforms/android/ant-build/
platforms/android/CordovaLib/ant-build
plugins/
proguard/
.project
$RECYCLE.BIN/
.sass-cache/
.settings/
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
temp/
Thumbs.db
*.tmp
*.tmp.*
tmp/
UserInterfaceState.xcuserstate
vendor/
.versions/
.vscode
